.box1 {
  display: block;
  padding: 10px;
  height: 100px;
  width: 300px;
  background-color: green;
  /* overflow: scroll; */
  overflow-x: hidden;
  overflow-y: scroll;
  /* scroll-behavior: auto; */
}

.box2 {
  height: 50px;
  background-color: red;
  width: 300px;
  position: absolute;
  z-index: 2;
}