.box1 {
  height: 300px;
  border: 2px solid black;
  background-image: repeating-linear-gradient(red, green 10%, yellow 20%);
}

.box2{
  height: 300px;
  border: 2px solid black;
  background-image: radial-gradient(circle at left top, white, green);
}