* {
  margin: 0;
  padding: 0;
}
h1 {
  border: 1px solid red;
  margin: auto;
}

.ex2 {
  /* margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px; */
  margin: 100px 150px 100px 80px;
}

div {
  width: 300px;
  margin-left: 100px;
  border: 1px solid red;
  height: 300px;
}

p.ex1 {
  margin-left: inherit;
}

.col1 {
  margin-bottom: 50px;
  border: 1px solid red;
}
.col2 {
  margin-top: 20px;
  border: 1px solid red;
}